In [1]:
import db_connect
import pandas

In [2]:
# 建立與MySQL的連線
my_connt_obj = db_connect.mysql_connect()
conn = my_connt_obj.connect()

In [3]:
# 取得股價資訊
df = pandas.read_sql("SELECT * FROM DailyPrice WHERE TradeDate >'2021-01-01'", con=conn)
# 觀察資料
df.head()

,ID,TradeDate,StockID,Symbol,OpenPrice,HighPrice,LowPrice,ClosePrice,Volumn,CreateTime
0,1,2021-09-24,None,0050,138.80,139.65,138.70,139.65,6297547,2021-09-24 20:11:44
1,2,2021-09-24,None,0051,57.70,57.80,57.50,57.50,24754,2021-09-24 20:11:44
2,3,2021-09-24,None,0052,125.60,126.10,125.40,126.05,647168,2021-09-24 20:11:44
3,4,2021-09-24,None,0053,66.90,66.90,66.70,66.85,7800,2021-09-24 20:11:44
4,5,2021-09-24,None,0054,31.93,31.93,31.87,31.87,43832,2021-09-24 20:11:44

In [4]:
# 關閉連線
conn.close()

In [5]:
# 取得台積電資料，代號：2330
df_2330 = df.loc[df['Symbol'] == "2330"]
df_2330.tail() #確認資料

,ID,TradeDate,StockID,Symbol,OpenPrice,HighPrice,LowPrice,ClosePrice,Volumn,CreateTime
1192,2351,2021-09-15,None,2330,610.0,613.0,607.0,607.0,26041452,2021-09-24 20:29:40
1193,2352,2021-09-16,None,2330,603.0,607.0,599.0,600.0,23315040,2021-09-24 20:29:40
1194,2353,2021-09-17,None,2330,600.0,610.0,599.0,600.0,42383815,2021-09-24 20:29:40
1195,2354,2021-09-22,None,2330,586.0,589.0,583.0,586.0,42732169,2021-09-24 20:29:40
1196,2355,2021-09-23,None,2330,588.0,593.0,588.0,588.0,22736266,2021-09-24 20:29:40

In [6]:
# 製作5日移動平均數
close_price_5 = df_2330["ClosePrice"].rolling(5, min_periods=1).mean()
print(close_price_5.tail()) # 確認資料

# 製作20日移動平均數
close_price_20 = df_2330["ClosePrice"].rolling(20, min_periods=1).mean()
print(close_price_20.tail())    # 確認資料

1192    585.8
1193    589.8
1194    594.0
1195    594.6
1196    596.2
Name: ClosePrice, dtype: float64
1192    590.35
1193    590.75
1194    591.05
1195    590.95
1196    591.15
Name: ClosePrice, dtype: float64

In [7]:
# signal_7: 5MA > 20MA
# 近期5日平均比20日還要高
# True:高；False：低

signal_7 = True if close_price_5.iloc[-1] > close_price_20.iloc[-1] else False
signal_7

True